
.container
{
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: url(../../../assets/BG.jpg);
	background-attachment: fixed;
}
.mixBlnd
{
	background-blend-mode: screen;
}
.layer1{
    text-align: center;
}
.layer2{
    margin-top: -1%;
    width: 100%;
    height: auto;
    text-align: left;
}
.layer3{
    text-align: center;
    margin-left: 25%;
    margin-top: -8%;
    opacity: 0.5;
}
.layer4{
    text-align: center;
    margin-top: 15%;
}
.layer5{
    text-align: center;
    margin-top: 4%;
    margin-left: 15%;
}
.layer6{
    text-align: center;
    margin-left: 15%;
    margin-top: 3%;
}
.layer7{
    text-align: center;
    margin-left: 15%;
    margin-top: 5%;
}
